/*Medium devices (Tablets, Ipads (portrait))*/
@media screen and (max-width: 1024px) and (min-width: 767px){
  h1 {
    width: 90%;
    margin: 30px auto;
    letter-spacing: 0.05em;
    font-size: 3em;
  }

  h2 {
    margin: 20px auto;
    letter-spacing: 0;
    font-size: 2em;
  }
  
  ul{
    width: 80%;
    font-size: 1.2em;
    padding-left: 0;
  }

  input.color1, input.color2 {
    margin-bottom: 10px;
  }

  .slidecontainer {
    margin: 0 auto;
  }

  .slider {
    width: 50%;
  }
}

/*Small devices (Low Resolution Tablets, Mobiles)*/
@media screen and (max-width: 768px) {
  h1 {
    letter-spacing: 0;
    font-size: 1.2em;
  }

  h2 {
    margin-top: 0;
    letter-spacing: 0;
    font-size: 1em;
  }
  
  ul{
    width: 90%;
    padding-left: 0;
    font-size: 0.8em;
  }

  input.color1, input.color2 {
    margin-bottom: 30px;
  } 

  .slider {
    width: 50%;
  }
}